body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  align-items: center;
  justify-content:center ;
  text-align: center;
  height: 40px;
  background-color: black; 
  text-decoration: none;
}
.nav-home{
  color:white;
  margin-right: 20px;
  font-size: 25px;
  text-decoration: none;
}
.nav-home:hover{
  color: rgb(184, 23, 23);
}
.nav-about{
  color:white;
  font-size: 25px;
  text-decoration: none;
}
.nav-about:hover{
  color: rgb(184, 23, 23);
}
footer{
  display: flex;
  align-items: center;
  justify-content:center ;
  text-align: center;
  background-color: black;
  color: white;
  height: 40px;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin-top: 15px;    
}
.container{  
  margin: 0 auto; 
  box-shadow: 0px 0px 12px #ccc;
  border-radius: 8px;
  padding: 0 1rem; 
  margin-bottom: 15px; 
}
input{
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px -4px;
  border-radius: 8px;
}
.buttongroup{
  display: flex;  
  justify-content: space-around;
  align-items: center;
}
.btn{
  display: block;
  width: 40%;
  font-size: 1.2rem;
  margin: 14px auto;
  padding: 4px 0;
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(184, 23, 23);
}
.center{
  text-align: center;
  margin-bottom: 5px;
}
p{
  margin: 8px 0;
}
.img-container{
  text-align: center;
}
.img-container img{
  height: 200px;
  width: 75%;
}
.about{
  margin: 25px 30px;
  font-size: 20px;
}

